/*Background color*/

body{
    background-color: #e6e5e5;
}

/*Applying nav and buttons and making of search bar */
#header{
    display: flex;
    background-color: rgb(42, 151, 224);

}


h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    flex: 1;
    margin-left: 15px;
}
nav{
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: end;
}

.menu{
    color: #ffffff;
    font-size: small;
    display: none;
}

.search-box {
    flex: 1;
    justify-content: center;
    margin-top: 20px;
    margin-left: 150px;}

.search-bar {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    justify-content: center;
}

a {
    text-decoration: none;
    text-align: right;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    margin-left: 10px;
    
}

/* Image decoration and usage of box shadow*/

.avengers {
    flex: 1;
    background-color: #ffffff;
    margin-top: 1%;
    margin-bottom: 50%;
    box-shadow: 3px 3px 3px rgb(203, 203, 203);
    font-size: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}

h2 {
    margin-left: 10px;
}

p {
   margin-left: 7px; 
   margin-right: 7px;
}

/*Arrangment of the button */

button {
    border:none ;
    background-color: rgb(43, 130, 229);
    color: white;
    padding: 3px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgb(93, 191, 236);
    float: right;
    margin-right:20px;
    margin-bottom: 15px;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* margin and flex for arranging containers*/
#container {
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 20px;
   
}
.movie {
    flex: 1;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  
}

.left {
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
   
}

.right {
    display:flex ;
    margin-left: 3%;
    margin-right: 3%;
    
}

.movie1 , .movie2 , .movie3 , .movie4 {
    flex: 1;
  
   
}

/*Container elements for all the movies */
.movie1 {
    background-color: #ffffff;
    margin-right: 3%;
    margin-top: 2.1%;
    font-size: 10px;
    box-shadow:3px 3px 3px rgb(203, 203, 203) ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.movie2 {
    background-color: #ffffff;
    margin-right: 3%;
    margin-top: 2%;
    font-size: 10px;
    box-shadow:3px 3px 3px rgb(203, 203, 203) ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.movie3 {
    background-color: #ffffff;
    margin-right: 3%;
    margin-top: 2.1%;
    font-size: 10px;
    box-shadow:3px 3px 3px rgb(203, 203, 203) ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.movie4 {
    
    background-color: #ffffff;
    margin-right: 3%;
    margin-top: 2.1%;
    font-size: 10px;
    box-shadow:3px 3px 3px rgb(203, 203, 203) ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* Css applied to all the images */

img {
    width: 100%;
    height: auto;
}

/*Footer */

footer {
    background-color: #e6e5e5;
    color: black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


@media screen and (max-width:1280px) and (min-width:1025px){   
    #container{
        margin-left: 0px;
        margin-right: 0px;
    }
}   

@media screen and (max-width:1024px) and (min-width:801px){
    #header {
       width:auto;
    }
    .container {
        margin-left: 1%;
        margin-right: 1%;
        justify-content: center;
    }
    .search-bar {
        margin-left: 20px;
        margin-right: 20px;
    }
    body {
        margin: 0;
    }

    button{
        display: block;
    }
    .right {
        flex: 1;
        display: block;
    }
    .left{
        flex: 1;
        display: block;
    }
    .avengers{
        margin-bottom: 300%;
    }
    
    .movie{
         height: auto;
    }
    .movie1,.movie2, .movie3 , .movie4{
        width: 53%;
        height: 40%;

    }
}

@media screen and (max-width:800px)and (min-width:481px){
    .container{
        margin-left: 0px;
        margin-right: 0px;
        flex-direction: column;
    }

    #menu{
        display: block;
        text-align: right;
        margin-right: 10px;
    }
    nav,.search-bar{
        display: none;
    }
}
@media screen and (max-width: 480px){
    #container{
        margin-left: 0px;
        margin-right: 0px;
        display: block;
    }
    .movie{
        display: block;
    }
    
    .left,.right{
        flex-direction: column;
    }
    #menu{
        display: block;
        text-align: right;
        margin-right: 10px;
    }
    nav,.search-bar{
        display: none;
    }
}